{% extends '../common/_base.html' %}

{% block title %}{% endblock %}


{% block content %}

<div class="container">
  <h1>Your Profile</h1>
  <p class="lead">Welcome, {{user.firstName || user.email}}!</p>
  <h3>Your registrations</h3>
  {% if user.registrations.length > 0 %}
    <ol>
      {% for registration in user.registrations %}
      <li>Registered a {{ registration._id }} at {{ registration.time.toString()}}</li>
    {% endfor %}
    </ol>
  {% else %}
  <p>Your registrations will show up here - head over to registration to get started.</p>
  {% endif %}
  <br>
  <a href="/">Home</a>
</div>

{% endblock %}