{% extends '_base.html' %}

{% block title %}{% endblock %}


{% block content %}
<div class="container">
    <div class="col-md-12">
        <h1 class="text-center">Registration</h1>
        <p class="lead text-center">Please select which registration you would like</p>
        <div class="list-group">

            {% for product in products %}
            <div class="col-md-6">
                <div class="list-group">
                    <a href="/product/{{product._id.toString()}}" class="list-group-item">
                        <h4 class="list-group-item-heading">{{ product.productName }} <span style="float: right;"
                                                                                            class="label label-default">Not Registered</span>
                        </h4>
                        <p class="list-group-item-text">{{ product.description }}</p>
                    </a>
                </div>
            </div>
            {% endfor %}

        </div>
    </div>
</div>

{% endblock %}